@model  ErrorViewModel

<h1>Error!!! Error!!!</h1>
<h2>Oh no!!! Something terrible has happened!</h2>

@if (Model.ShowRequesId)
{
    <p>Request ID: @Model.RequestId</p>

}

<h3>Development Mode</h3>
<p>Changing to Development Enviroment will display more detailed information about the error.</p>
